.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
.cell {
    width: 64px;
    height: 64px;
    border: 1px solid black;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}
.cell.disabled {
    pointer-events: none;
    opacity: 0.6;
}